In [3]:
import pandas as pd
import numpy as np
import numpy.linalg as linalg
import numpy.random as rnd
import matplotlib.pyplot as plt
import pdb

In [74]:
df=pd.read_csv("car_price.csv")

In [75]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,113.7Nm@ 4000rpm,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,190Nm@ 2000rpm,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0

In [76]:
df2=df.sample(frac=1)

In [77]:
df2=df2.dropna()

In [78]:
df2.index=range(0,len(df2))

In [79]:
df2['mileage']=df2['mileage'].apply(lambda x:float(x.split()[0]))

In [80]:
df2['engine']=df2['engine'].apply(lambda x: float(x.split()[0]))

In [81]:
df2['max_power']=df2['max_power'].apply(lambda x: float(x.split()[0]))

In [82]:
df2['name']=df2['name'].apply(lambda x: x.split()[0])

In [83]:
df2=df2.drop(columns="torque")

In [84]:
df2['fuel'].unique()

array(['Petrol', 'Diesel', 'CNG', 'LPG'], dtype=object)

In [85]:
df2['transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [86]:
df2['seller_type'].unique()

array(['Trustmark Dealer', 'Individual', 'Dealer'], dtype=object)

In [ ]:
df2=df2.drop(columns=["seller_type"])

In [88]:
df3=pd.get_dummies(df2['fuel'])
df2=df2.join(df3)
df2=df2.drop(columns='fuel')

In [89]:
df3=pd.get_dummies(df2['transmission'])
df2=df2.join(df3)
df2=df2.drop(columns='transmission')

In [18]:
df3=pd.get_dummies(df2['owner'])
df2=df2.join(df3)
df2=df2.drop(columns='owner')

In [92]:
df2['owner']=df2['owner'].apply(lambda x:(x.split()[0]))

In [128]:
for i in range(len(df2['owner'])):
    if df2['owner'][i]=="Test":
        df2['owner'][i]=0
    elif df2['owner'][i]=="First":
        df2['owner'][i]=1
    elif df2['owner'][i]=="Second":
        df2['owner'][i]=2
    elif df2['owner'][i]=="Third":
        df2['owner'][i]=3
    elif df2['owner'][i]=="Fourth":
        df2['owner'][i]=4

<ipython-input-128-c22c17b78247>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['owner'][i]=0

In [129]:
df2['owner']

0       1
1       1
2       2
3       1
4       1
       ..
7901    1
7902    1
7903    1
7904    3
7905    2
Name: owner, Length: 7906, dtype: object

In [130]:
df2=df2.drop(columns=["seller_type"])

KeyError: "['seller_type'] not found in axis"

In [107]:
df2=df2.drop(columns="transmission")

KeyError: "['transmission'] not found in axis"

In [ ]:
df2['year']=df2['year']-2020

In [122]:
def feature_scale(X):
    m1=X.max()
    m2=X.min()
    mean=X.mean()
    return((X-m2)/mean)

In [123]:
feature_scale(df2['selling_price'])

0       0.300088
1       0.461672
2       0.246226
3       0.277004
4       0.338560
          ...
7901    3.878036
7902    0.415505
7903    0.607868
7904    0.538617
7905    0.761758
Name: selling_price, Length: 7906, dtype: float64

In [124]:
df2

,name,year,selling_price,km_driven,owner,mileage,engine,max_power,seats,CNG,Diesel,LPG,Petrol,Automatic,Manual
0,Maruti,-7,225000,58343,1,21.79,998.0,67.05,5.0,0,0,0,1,0,1
1,Hyundai,-11,330000,180000,1,13.60,1991.0,142.00,5.0,0,1,0,0,0,1
2,Chevrolet,-9,190000,20000,2,18.00,995.0,62.00,5.0,0,0,0,1,0,1
3,Ford,-13,210000,110000,1,17.80,1399.0,68.00,5.0,0,1,0,0,0,1
4,Tata,-7,250000,50000,1,15.64,1193.0,64.10,5.0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7901,Mercedes-Benz,-2,2550000,18000,1,15.04,1991.0,183.00,5.0,0,0,0,1,1,0
7902,Mahindra,-4,300000,40000,1,18.15,1198.0,82.00,6.0,0,0,0,1,0,1
7903,Tata,-5,425000,80000,1,23.00,1248.0,88.70,5.0,0,1,0,0,0,1
7904,Maruti,-8,380000,70000,3,22.90,1248.0,74.00,5.0,0,1,0,0,0,1
7905,Nissan,-6,525000,120000,2,19.01,1461.0,108.50,5.0,0,1,0,0,0,1

In [109]:
df2.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'owner', 'mileage',
       'engine', 'max_power', 'seats', 'CNG', 'Diesel', 'LPG', 'Petrol',
       'Automatic', 'Manual'],
      dtype='object')

In [131]:
X=df2[['year', 'km_driven', 'owner', 'mileage',
       'engine', 'max_power', 'seats', 'CNG', 'Diesel', 'LPG', 'Petrol',
       'Automatic', 'Manual']]

In [132]:
y=df2['selling_price']

In [133]:
n=len(X)
m=len(X.T)
mat=np.zeros((n,m+1))
for i in range(n):
    mat[i]=np.array([1]+list(X.iloc[i]))
y=np.array(y)

In [135]:
n=int(0.8*len(X))

X_train=mat[:n]
y_train=y[:n]

X_test=mat[n:]
y_test=y[n:]

In [169]:
y_train=y_train.reshape(y_train.shape[0],1)

In [173]:
class GradientDescentLinearRegression:
    def __init__(self, learning_rate=0.01, iterations=10):
        self.learning_rate, self.iterations = learning_rate, iterations
    
    def fit(self, X, y):
        b = 0
        m = 5
        n = X.shape[0]
        for _ in range(self.iterations):
            b_gradient = -2 * np.sum(y - m*X + b) / n
            m_gradient = -2 * np.sum(X*(y - (m*X + b))) / n
            b = b + (self.learning_rate * b_gradient)
            m = m - (self.learning_rate * m_gradient)
            print(m,b)
        self.m, self.b = m, b
        
    def predict(self, X):
        return self.m*X + self.b

In [174]:
regressor=GradientDescentLinearRegression()

In [176]:
clf = GradientDescentLinearRegression()
clf.fit(X, y)

ValueError: Unable to coerce to Series, length must be 13: given 7906

In [168]:
regressor.predict(X_train)

array([[nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       ...,
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan]])

In [12]:
df2['fuel'].unique()

array(['Diesel', 'Petrol', 'CNG', 'LPG'], dtype=object)

In [13]:
df2['transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [14]:
df2['seller_type'].unique()

array(['Individual', 'Dealer', 'Trustmark Dealer'], dtype=object)

In [15]:
df3=pd.get_dummies(df2['fuel'])
df2=df2.join(df3)
df2=df2.drop(columns='fuel')

In [16]:
df3=pd.get_dummies(df2['seller_type'])
df2=df2.join(df3)
df2=df2.drop(columns='seller_type')

In [17]:
df3=pd.get_dummies(df2['transmission'])
df2=df2.join(df3)
df2=df2.drop(columns='transmission')

In [18]:
df3=pd.get_dummies(df2['owner'])
df2=df2.join(df3)
df2=df2.drop(columns='owner')

In [72]:
X=df2[['year', 'km_driven', 'mileage', 'engine',
       'max_power', 'seats']]
y=df2["selling_price"]

In [73]:
n=len(X)
m=len(X.T)
mat=np.zeros((n,m+1))
for i in range(n):
    mat[i]=np.array([1]+list(X.iloc[i]))
y=np.array(y)

In [19]:
#df2['year']=2020-df2['year']

In [46]:
df2.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Hyundai i20 Sportz 1.4 CRDi,2012,380000,50000,Diesel,Individual,Manual,Second Owner,21.90,1396.0,88.76,219.6Nm@ 1750-2750rpm,5.0
1,Tata Sumo CX 9 Seater,2008,150000,120000,Diesel,Individual,Manual,First Owner,12.20,1948.0,68.00,"115@ 2,500(kgm@ rpm)",9.0
2,Hyundai Grand i10 1.2 Kappa Sportz Dual Tone,2018,570000,20000,Petrol,Individual,Manual,First Owner,18.90,1197.0,81.86,113.75nm@ 4000rpm,5.0
3,Tata Indigo CS LX (TDI) BS-III,2013,200000,120000,Diesel,Individual,Manual,Second Owner,19.09,1405.0,69.01,135Nm@ 2500rpm,5.0
4,Maruti Swift Dzire LDI,2013,430000,190000,Diesel,Individual,Manual,Second Owner,23.40,1248.0,74.00,190Nm@ 2000rpm,5.0

In [47]:
df2.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner', 'mileage', 'engine', 'max_power', 'torque',
       'seats'],
      dtype='object')

In [21]:
df2['company']=df2.name.apply(lambda x: x.split()[0])

In [22]:
df2.company.unique()

array(['Tata', 'Mahindra', 'Renault', 'Toyota', 'Maruti', 'Hyundai',
       'Mitsubishi', 'Ford', 'BMW', 'Honda', 'Jaguar', 'Volkswagen',
       'Chevrolet', 'Skoda', 'Datsun', 'Nissan', 'Volvo', 'Jeep', 'Lexus',
       'Fiat', 'Force', 'Mercedes-Benz', 'Audi', 'Isuzu', 'MG', 'Kia',
       'Daewoo', 'Ambassador', 'Land', 'Ashok', 'Opel'], dtype=object)

In [23]:
df3=pd.get_dummies(df2['company'])
df2=df2.join(df3)
df2=df2.drop(columns='company')

In [24]:
df2.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'mileage', 'engine',
       'max_power', 'torque', 'seats', 'CNG', 'Diesel', 'LPG', 'Petrol',
       'Dealer', 'Individual', 'Trustmark Dealer', 'Automatic', 'Manual',
       'First Owner', 'Fourth & Above Owner', 'Second Owner', 'Test Drive Car',
       'Third Owner', 'Ambassador', 'Ashok', 'Audi', 'BMW', 'Chevrolet',
       'Daewoo', 'Datsun', 'Fiat', 'Force', 'Ford', 'Honda', 'Hyundai',
       'Isuzu', 'Jaguar', 'Jeep', 'Kia', 'Land', 'Lexus', 'MG', 'Mahindra',
       'Maruti', 'Mercedes-Benz', 'Mitsubishi', 'Nissan', 'Opel', 'Renault',
       'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype='object')

In [27]:
X=df2[['year','km_driven','mileage','engine','max_power','seats', 'CNG', 'Diesel', 'LPG', 'Petrol',
       'Dealer', 'Individual', 'Trustmark Dealer', 'Automatic', 'Manual',
       'First Owner', 'Fourth & Above Owner', 'Second Owner', 'Test Drive Car',
       'Third Owner', 'Ambassador', 'Ashok', 'Audi', 'BMW', 'Chevrolet',
       'Daewoo', 'Datsun', 'Fiat', 'Force', 'Ford', 'Honda', 'Hyundai',
       'Isuzu', 'Jaguar', 'Jeep', 'Kia', 'Land', 'Lexus', 'MG', 'Mahindra',
       'Maruti', 'Mercedes-Benz', 'Mitsubishi', 'Nissan', 'Opel', 'Renault',
       'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo']]
y=df2[['selling_price']]

In [51]:
n=len(X)
m=len(X.T)
mat=np.zeros((n,m+1))
for i in range(n):
    mat[i]=np.array([1]+list(X.iloc[i]))
y=np.array(y)

ValueError: could not convert string to float: 'Hyundai i20 Sportz 1.4 CRDi'

In [50]:
X=df2[['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner', 'mileage', 'engine', 'max_power', 'torque',
       'seats']]
y=df2[['selling_price']]

In [49]:
X

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Hyundai i20 Sportz 1.4 CRDi,2012,380000,50000,Diesel,Individual,Manual,Second Owner,21.90,1396.0,88.76,219.6Nm@ 1750-2750rpm,5.0
1,Tata Sumo CX 9 Seater,2008,150000,120000,Diesel,Individual,Manual,First Owner,12.20,1948.0,68.00,"115@ 2,500(kgm@ rpm)",9.0
2,Hyundai Grand i10 1.2 Kappa Sportz Dual Tone,2018,570000,20000,Petrol,Individual,Manual,First Owner,18.90,1197.0,81.86,113.75nm@ 4000rpm,5.0
3,Tata Indigo CS LX (TDI) BS-III,2013,200000,120000,Diesel,Individual,Manual,Second Owner,19.09,1405.0,69.01,135Nm@ 2500rpm,5.0
4,Maruti Swift Dzire LDI,2013,430000,190000,Diesel,Individual,Manual,Second Owner,23.40,1248.0,74.00,190Nm@ 2000rpm,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7901,Mahindra Scorpio VLS AT 2.2 mHAWK,2011,450000,95000,Diesel,Individual,Automatic,Second Owner,11.79,2179.0,120.00,290Nm@ 1800-2800rpm,8.0
7902,Volkswagen Ameo 1.0 MPI Comfortline,2019,550000,30000,Petrol,Individual,Manual,Second Owner,19.44,999.0,75.00,95Nm@ 3000-4300rpm,5.0
7903,Nissan Micra XL,2011,200000,43500,Petrol,Individual,Manual,Second Owner,18.06,1198.0,75.00,104Nm@ 4000rpm,5.0
7904,Maruti Swift Dzire VDI,2013,430000,63000,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,190Nm@ 2000rpm,5.0
7905,Volkswagen Vento 1.5 Highline Plus AT 16 Alloy,2018,950000,75000,Diesel,Individual,Automatic,First Owner,21.50,1498.0,108.50,250Nm@ 1500-3000rpm,5.0

In [29]:
n=int(0.8*len(X))

In [30]:
X_train=mat[:n]
y_train=y[:n]

In [31]:
X_test=mat[n:]
y_test=y[n:]

In [32]:
np.array(X_train).shape

(6324, 52)

class LinearRegression:
    def __init__(self):
        self.weights=None
        
    def LR(self,X,Y):
        if len(X.shape)==1:
            X = np.array(X).reshape(-1,1)
        else:
            X = np.array(X)
            n = X.shape[1]
            n_obs = X.shape[0]
            mat = np.zeros((n+1,n+1)) 

            for i in range(n+1):
                for j in range(n+1):
                    if i==0 and j==0:
                        mat[i,j] = n_obs
                    elif i==0:
                        mat[i,j] = np.sum(X.T[j-1])
                    elif j==0:
                        mat[i,j] = np.sum(X.T[i-1])
                    else:
                        mat[i,j] = np.dot(X.T[i-1],X.T[j-1])
            y = np.zeros((n+1,1))
            y[0] = np.sum(Y)
            for i in range(1,n+1):
                y[i] = np.dot(Y.T,X.T[i-1])
                self.weights = np.dot(np.linalg.inv(mat),y)
            return self.weights
    def predict(self,X):
        y=np.dot(self.weights.T,np.array(X))
        return(y)
    def rmse(self,X,y):
        l=[]
        for i in range(len(X)):
            l.append([1]+list(X.T[0]))

        l2=[]
        for i in range(len(l)):
            l2.append((self.predict(l[i])-y.T[i])**2)
        return np.sqrt(np.mean(l2))

In [33]:
y_train.shape

(6324, 1)

In [34]:
a=np.dot(np.dot(np.linalg.inv(np.dot(X_train.T,X_train)),X_train.T),y_train)

LinAlgError: Singular matrix

In [35]:

np.dot(X_test[0],a)

NameError: name 'a' is not defined

In [206]:
class LinearRegression:
    def __init__(self):
        self.weights=None
        
    def LR(self,X,Y):
        if len(X.shape)==1:
            X = np.array(X).reshape(-1,1)
        else:

            #print(np.linalg.inv(np.dot(mat.T,mat)).shape)
            mat=X

            mat2=np.dot(np.linalg.inv(np.dot(mat.T,mat)),mat.T)
            self.weights=np.dot(mat2,Y)
            return self.weights
    def predict(self,X):
        """
        if len(X)>1:
            X=np.array(X)
            n=len(X)
            m=len(X.T)
            mat=np.zeros((n,m+1))
            for i in range(n):
                mat[i]=np.array([1]+list(X[i]))
        else:
        """
        mat=np.array(list(X))
        y=np.dot(self.weights.T,mat.T)
        return(y)
    def rmse(self,X,y):
        n=len(X)
        m=len(X.T)
        y=np.array(y)
        mat=X
        l2=[]
        for i in range(len(mat)):
            l2.append((self.predict(mat[i])-y[i])**2)
        return np.sqrt(np.mean(l2))

In [207]:
len(X_train.T)

52

In [208]:
regressor=LinearRegression()
(regressor.LR(X_train,y_train))

array([[-1.18258855e+21],
       [-2.51963880e+06],
       [-2.16796438e+01],
       [ 5.18152778e+05],
       [-9.11007006e+03],
       [ 5.59510930e+05],
       [-7.52442300e+06],
       [-1.15266246e+22],
       [-1.15266246e+22],
       [-1.15266246e+22],
       [-1.15266246e+22],
       [ 1.07934806e+22],
       [ 1.07934806e+22],
       [ 1.07934806e+22],
       [ 6.02905199e+21],
       [ 6.02905199e+21],
       [-4.11331946e+21],
       [-4.11331946e+21],
       [-4.11331946e+21],
       [-4.11331946e+21],
       [-4.11331946e+21],
       [-7.48500539e+07],
       [-1.02017181e+07],
       [-6.16353141e+07],
       [-4.08752788e+07],
       [-4.01360106e+07],
       [-1.13730935e+08],
       [-3.98193277e+07],
       [-5.33362010e+07],
       [-3.16335783e+07],
       [-4.80681384e+07],
       [-6.40193779e+07],
       [-5.48235445e+07],
       [-2.16583491e+07],
       [-3.77367913e+07],
       [-4.00271606e+07],
       [-5.17012782e+07],
       [-1.59842626e+07],
       [-5.82623991e+07],
       [-4.30609719e+07],
       [-3.45712972e+07],
       [-4.87858188e+07],
       [-9.22998654e+07],
       [-1.29444889e+08],
       [-3.81721765e+07],
       [-1.97590000e+08],
       [-3.07930308e+07],
       [-5.27152288e+07],
       [-4.46027681e+07],
       [-4.07982989e+07],
       [-3.98715382e+07],
       [-4.38791786e+07]])

In [194]:
regressor.rmse(X_test,y_test)

29764548.42558371

In [197]:
regressor.predict(X_test[2])

array([-28311552.])

In [204]:
np.array(list(X_test[0])).shape

(52,)

In [1]:
class GradientDescentLinearRegression:
    def __init__(self, learning_rate=0.01, iterations=1000):
        self.learning_rate, self.iterations = learning_rate, iterations
    
    def fit(self, X, y):
        b = 0
        m = 5
        n = X.shape[0]
        for _ in range(self.iterations):
            b_gradient = -2 * np.sum(y - m*X + b) / n
            m_gradient = -2 * np.sum(X*(y - (m*X + b))) / n
            b = b + (self.learning_rate * b_gradient)
            m = m - (self.learning_rate * m_gradient)
        self.m, self.b = m, b
        print(m,b)
        
    def predict(self, X):
        return self.m*X + self.b

In [37]:
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9,...,42,43,44,45,46,47,48,49,50,51
0,1.0,2009.0,80000.0,13.93,2179.0,138.00,7.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,2014.0,76000.0,15.96,2523.0,62.10,9.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,2018.0,10000.0,20.30,1199.0,84.00,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1.0,2018.0,20000.0,23.01,999.0,67.00,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,1.0,2016.0,55000.0,11.36,2755.0,171.50,7.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6319,1.0,2019.0,9500.0,18.16,1196.0,86.80,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6320,1.0,2008.0,112000.0,17.30,1061.0,57.50,5.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6321,1.0,2014.0,110000.0,15.96,2523.0,63.00,9.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6322,1.0,2015.0,52000.0,23.95,998.0,67.05,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6323,1.0,2015.0,80000.0,17.40,1497.0,117.30,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0