In [1]:
import pandas as pd
import numpy as np
import numpy.linalg as linalg
import numpy.random as rnd
import matplotlib.pyplot as plt
%matplotlib inline
import pdb

In [2]:
df=pd.read_csv('heartdisease.csv')

In [3]:
df.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4238 non-null   int64
 1   age              4238 non-null   int64
 2   education        4133 non-null   float64
 3   currentSmoker    4238 non-null   int64
 4   cigsPerDay       4209 non-null   float64
 5   BPMeds           4185 non-null   float64
 6   prevalentStroke  4238 non-null   int64
 7   prevalentHyp     4238 non-null   int64
 8   diabetes         4238 non-null   int64
 9   totChol          4188 non-null   float64
 10  sysBP            4238 non-null   float64
 11  diaBP            4238 non-null   float64
 12  BMI              4219 non-null   float64
 13  heartRate        4237 non-null   float64
 14  glucose          3850 non-null   float64
 15  TenYearCHD       4238 non-null   int64
dtypes: float64(9), int64(7)
memory usage: 529.9 KB

In [5]:
df2=df.sample(frac=1)

In [6]:
df2

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
3041,1,61,1.0,0,0.0,0.0,0,0,0,257.0,124.5,80.0,23.84,64.0,76.0,1
1948,1,41,3.0,0,0.0,0.0,0,1,0,250.0,150.0,92.0,33.29,85.0,85.0,0
3730,1,59,1.0,1,15.0,0.0,0,0,0,259.0,116.0,83.0,27.93,80.0,83.0,0
248,1,55,2.0,1,5.0,0.0,0,0,0,342.0,107.5,73.0,21.97,54.0,74.0,0
860,0,35,2.0,0,0.0,0.0,0,0,0,248.0,107.0,73.0,20.64,90.0,80.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,1,38,1.0,1,20.0,0.0,0,0,0,268.0,117.0,83.0,33.61,72.0,NaN,0
2698,0,68,2.0,1,20.0,0.0,0,0,0,322.0,148.0,95.0,20.98,95.0,72.0,0
574,0,39,3.0,1,30.0,0.0,0,1,0,277.0,148.0,100.0,24.12,85.0,72.0,0
490,0,41,2.0,1,5.0,0.0,0,0,0,220.0,108.5,80.0,20.18,94.0,NaN,0
1656,0,40,2.0,1,5.0,0.0,0,0,0,174.0,130.0,86.0,25.05,80.0,83.0,0

In [7]:
df2=df2.dropna()

In [8]:
df2.index=range(len(df2))
df2

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,61,1.0,0,0.0,0.0,0,0,0,257.0,124.5,80.0,23.84,64.0,76.0,1
1,1,41,3.0,0,0.0,0.0,0,1,0,250.0,150.0,92.0,33.29,85.0,85.0,0
2,1,59,1.0,1,15.0,0.0,0,0,0,259.0,116.0,83.0,27.93,80.0,83.0,0
3,1,55,2.0,1,5.0,0.0,0,0,0,342.0,107.5,73.0,21.97,54.0,74.0,0
4,0,35,2.0,0,0.0,0.0,0,0,0,248.0,107.0,73.0,20.64,90.0,80.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3651,1,58,3.0,0,0.0,0.0,0,1,0,187.0,141.0,81.0,24.96,80.0,81.0,0
3652,0,46,1.0,0,0.0,0.0,0,0,0,265.0,115.0,79.5,30.00,50.0,61.0,0
3653,0,68,2.0,1,20.0,0.0,0,0,0,322.0,148.0,95.0,20.98,95.0,72.0,0
3654,0,39,3.0,1,30.0,0.0,0,1,0,277.0,148.0,100.0,24.12,85.0,72.0,0
3655,0,40,2.0,1,5.0,0.0,0,0,0,174.0,130.0,86.0,25.05,80.0,83.0,0

In [9]:
n=int(0.8*len(df2))

X_train=df2[:n]
X_train=np.array(X_train.drop(columns='TenYearCHD'))
X_test=df2[n:]
X_test=np.array(X_test.drop(columns='TenYearCHD'))

y_train=np.array(df2['TenYearCHD'][:n])
y_train=y_train.reshape(-1,1)
y_test=np.array(df2['TenYearCHD'][n:])
y_test=y_test.reshape(-1,1)

In [10]:
y_train.shape

(2924, 1)

In [11]:
class LogisticRegression:
    def __init__(self,lr=0.001,n_iters=1000):
        self.lr=lr
        self.n_iters=n_iters
        self.weights=None
        self.bias=None
        
    def logistic(self,x):
        return 1/(1+np.exp(-x))
    
    def fit(self,X,y):
        self.n_samples,self.n_features=X.shape
        self.weights=np.zeros(self.n_features).reshape(1,-1)
        
        self.bias=0
        for i in range(self.n_iters):
            y_pred=self.logistic(np.dot(self.weights,X.T) + self.bias)
            
            #cost=(-1/n_samples)*(np.dot(y.T,np.log(y_pred)))+np.dot((1-y.T),np.log(1-y_pred))
            self.weights=self.weights-self.lr*np.dot((y_pred-y.T),X)
            #pdb.set_trace()
            self.bias=self.bias-self.lr*np.sum((y_pred-y.T))
        print("Weights:",self.weights)
        print("Bias:", self.bias)

    
    def predict(self,X):
        y_pred=self.logistic(np.dot(X,self.weights.T) + self.bias)
        #print(y_pred)
        l=[]
        l=[1 if i>=0.5 else 0 for i in y_pred]
        return l
    
    def check(self):
        print(self.weights)
        print(self.bias)
        print(self.n_samples)
        print(self.n_features)

In [12]:
regressor=LogisticRegression()

In [13]:
regressor.fit(X_train,y_train)

<ipython-input-11-45e9cad98cf4>:9: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-x))

Weights: [[  31.94754477  285.92555174 -111.73442025    0.81549492  308.55861968
    14.63205352    4.13399134   58.43860324   10.5745724  -419.77230647
   219.64759031 -528.44289881 -357.15563973 -629.96724208   35.22322322]]
Bias: -24.75733500168073

In [14]:
regressor.predict(X_test)

<ipython-input-11-45e9cad98cf4>:9: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-x))

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [15]:
regressor.check()

[[  31.94754477  285.92555174 -111.73442025    0.81549492  308.55861968
    14.63205352    4.13399134   58.43860324   10.5745724  -419.77230647
   219.64759031 -528.44289881 -357.15563973 -629.96724208   35.22322322]]
-24.75733500168073
2924
15

In [18]:
len(X_train)

2924